.form {
    position: absolute;
    top: 30%;
    left: 33%;
}
.btn {
    margin-bottom: 10%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}