.form {
    position: absolute;
    top: 30%;
    left: 33%;
}
.btn {
    margin-bottom: 10%;
    border-radius: 5px;
    background: tomato;
    border: 1px solid black;
}

.show {
    display: block;
}

.hide {
    display: none;
}